@font-face {
    font-family: 'opensans';
    src: url('opensans-regular-webfont.eot');
    src: url('opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('opensans-regular-webfont.woff') format('woff'),
         url('opensans-regular-webfont.ttf') format('truetype'),
         url('opensans-regular-webfont.svg#square721_btroman') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'opensans-bold';
    src: url('cocogoose_trial-webfont.eot');
    src: url('cocogoose_trial-webfont.eot?#iefix') format('embedded-opentype'),
         url('cocogoose_trial-webfont.woff') format('woff'),
         url('cocogoose_trial-webfont.ttf') format('truetype'),
         url('cocogoose_trial-webfont.svg#square721_btroman') format('svg');
    font-weight: normal;
    font-style: normal;
}


html{
	margin: 0; padding: 0;
}
body{
	font-family:"opensans";
	line-height:1;
	color:black;
	background:white;
	margin: 0; padding: 0;
	min-width: 960px;
}

.body {
	padding-top:8px;
	padding-bottom:50px;
    margin-left: auto;
    margin-right: auto;
	background: transparent;
	max-width: 960px;
	min-width: 960 px;
	min-height: 600px;
	clear:both;
}


/**
 * General
 */
#center{
	display: block;
    margin-left: auto;
    margin-right: auto;
}
#clear{
	clear: both;
}
.center{
	text-align:center;
}

.italic{
   font-style:italic;
}

.error{
	color: red;
}

.green{
	color: green;
}



/**
 * Top navigation / Logo
 */
.top_nav {
	float: left;
	clear: both;
	width: 100%;
	height:140px;
	margin: 0;
	padding: 0;
	background: #500000;
}
.top_nav_inner {
	display: block;
    margin-left: auto;
    margin-right: auto;
	clear: both;
	max-width: 960px;
	min-width: 960px;
	padding: 10px 20px;
	background: transparent;
}
.top_nav_login{
	width:200px;
	height:20px;
	float:right;
	position: relative;
	display:block;
	color:#fff;
}
.top_nav_login a{
	color:#fff;
	text-decoration:underline;
}
.top_nav_login a:hover,
.top_nav_login a.current{
	text-decoration:none;
}
.top_nav_menu_logo{
	width:450px;
	height:83px;
	float:left;
	margin-top:10px;
	background:url("../../images/org/tamuhack_logo_web.png") no-repeat;
}
.top_nav_menu{
	list-style:none;
	width:auto;
	float:right;
	font-family:opensans-bold, sans-serif;
	margin-top:20px;
}
.top_nav_menu li{
	float:left;
	text-align:center;
	border:none;
	position:relative;
	min-height:1px;
	vertical-align:top;
	margin:5px 5px 5px 0px;
	padding:10px 10px 8px 10px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-webkit-transition:background-color 0.3s;
	-moz-transition:background-color 0.3s;
	-o-transition:background-color 0.3s;
	-ms-transition:background-color 0.3s;
	transition:background-color 0.3s;
}
.top_nav_menu li:hover,
.top_nav_menu li.current{
	background-color:#565252;
	cursor:pointer;
}
.top_nav_menu li a{
	font-size:24px;
	color:#fff;
	text-decoration:none;
	display:block;
}

.top_nav_register {
	width: auto;
	float: right;
	position: relative;
	color: white;
}
.top_nav_register {
	width: 120px;
	float: left;
	margin-left: 800px;
	margin-top: 10px;
	position: absolute;
	color: white;
}
.top_nav_register a{
	color: white;
	text-decoration:none;
}
.top_nav_register a:hover,
.top_nav_register a.current{
	text-decoration:underline;
}

/**
	Portal Nav
*/
.portal_nav{
	margin-top:-40px;
	width:960px;
	height:50px;
	margin-bottom:10px;
	background-color:#004e7c;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

.portal_nav ul{
	list-style:none;
	font-family:opensans-bold, sans-serif;
	margin-top:20px;
}
.portal_nav li{
	float:left;
	text-align:center;
	border:none;
	min-height:1px;
	vertical-align:top;
	margin:5px 5px 5px 0px;
	padding:10px 10px 8px 10px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-webkit-transition:background-color 0.3s;
	-moz-transition:background-color 0.3s;
	-o-transition:background-color 0.3s;
	-ms-transition:background-color 0.3s;
	transition:background-color 0.3s;
}
.portal_nav li:hover,
.portal_nav li.current{
	background-color:#500000;
	cursor:pointer;
}
.portal_nav li{
	font-size:24px;
	text-decoration:none;
	display:block;
}
.portal_nav a{
	color:#fff;
	text-decoration:none;
}


/**
 * Content
 */

.content p{
	text-indent: 1.5em;
	font-size: 1.1em;
}
.content h1 {
	color:#004e7c;
    height: 42px;
    font-family:opensans-bold, sans-serif;
    font-size: 1.8em;
    width:960px;
    margin-bottom:5px;
    line-height:1;
    position:relative;
}
.content h2 {
	color:#004e7c;
    height: 20px;
    font-family:opensans-bold, sans-serif;
    font-size: 1.2em;
    width:960px;
    margin-bottom:5px;
    line-height:1;
    position:relative;
}
.content a,
.content a:visited{
	color:#a65b00;
	text-decoration: none;
}
.content a:hover{
	color:#a65b00;
	text-decoration: underline;
}



/**
 * Bottom navigation / Logo
 */
.bottom_nav {
	float: left;
	clear: both;
	width: 100%;
	height:180px;
	margin: 0;
	padding: 0;
	background: #141414;
}
.bottom_nav_inner {
	display: block;
    margin-left: auto;
    margin-right: auto;
	clear: both;
	max-width: 960px;
	min-width: 860px;
	padding: 10px 20px;
	background: transparent;
}
.bottom_nav_menu_logo{
	width:224px;
	height:151px;
	float:right;
	margin-top:10px;
	background:url("../org/hoverdog/hoverdog_logo_bottom.png") no-repeat;
}
.bottom_nav_menu{
	width:auto;
	float:left;
	font-family:opensans-bold, sans-serif;
	vertical-align:top;
	margin-top:50px;
	margin-left:100px;
	padding:0;
}
.bottom_nav_menu ul{
	list-style-type:none;
	margin:0;
	padding:0;
}
.bottom_nav_menu li{
	display:inline;
	padding-right:15px;
}
.bottom_nav_menu a,
.bottom_nav_menu a:visited{
	color:#6d6e71;
	text-decoration: none;
}
.bottom_nav_menu a:hover{
	color:#64b1df;
	text-decoration: underline;
}
.bottom_copyright{
	color:#6d6e71;
	display: block;
	font-size: 12px;
    margin-left: auto;
    margin-right: auto;
    position:absolute;
    margin-top: 100px;
    margin-left: 101px;
}

/**
	Events
*/
#event-left-col-wrap {
    float: left;
    width: 100%;
}
#event-left-col {
    margin-right: 600px;
}
#event-right-col {
    float: left;
    width: 600px;
    margin-left: -600px;
}




/**
	NEWS
*/
.news h1{
	background:url("../../images/org/news/icon.png") no-repeat;
    height: 56px;
    font-weight: bold;
    font-size: 20px;
    width:960px;
    margin-top:30px;
    margin-bottom:5px;
    padding-left:70px;
    line-height:2;
    position:relative;
}

.news .author{
	margin-top:-30px;
	margin-left: 40px;
	position:relative;
}



/**
	FORMS
*/
.form{
	background: -webkit-gradient(linear, bottom, left 175px, from(#CCCCCC), to(#EEEEEE));
	background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
	margin:auto;
	position:relative;
	width:380px;
	font-size: 14px;
	line-height: 24px;
	font-weight: bold;
	color: #500000;
	text-decoration: none;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding:10px;
	border: 1px solid #999;
	border: inset 1px solid #333;
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

.form input{
	width:375px;
	display:block;
	border: 1px solid #999;
	height: 25px;
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

.form input[type="radio"]{
	width:15px;
	vertical-align:middle;
	margin:0px;
	display:inline;
}

.form .error{
	font-size: .8em;
}

.form_register{
	height:20em;
}

.form_registerext{
	height:59em;
}
.form_registerportal{
	height:36em;
}

.form_recover{
	height:9em;
}

.form_login{
	height:11em;
}

.form_mailout{
	height:870px;
	width:900px;
}

.form_setpass{
	height:9em;
}

.icon-fade{
opacity: 0.3;
}

.icon-fade:hover{
-webkit-transition:opacity .3s ease-in-out;
opacity: 1.0;
}