html,body {
height:100%;
}

.center{
	text-align:center;
}

#center{
	display: block;
    margin-left: auto;
    margin-right: auto
}

.login{
	margin-top:20px;
	margin-right:20px;
	float:right;
	color:white;
}

.landing {
display:block;
padding-top:10vh;
height:auto;
text-align:center;
}

.landing-inner {
margin:auto;
}

.landing img {
display:inline;
position:relative;
margin-top:50px;
max-width:300px;
height:auto;
}

.btn {
border-radius:40px;
-moz-border-radius:40px;
-webkit-border-radius:40px;
border:2px solid #f4af00;
background-color:transparent;
-webkit-transition:color .8s ease-in-out;
-moz-transition:color .8s ease-in-out;
transition:color .8s ease-in-out;
color:#fff;
font-size:15px;
font-weight:350;
text-decoration:none;
text-align:center;
padding:15px 30px;
}

.btn:hover {
-webkit-transition:color .3s ease-in-out;
-moz-transition:color .3s ease-in-out;
transition:color .3s ease-in-out;
background-color:#FFF;
color:#000;
}

.first-btn {
width:60px;
padding:15px 40px;
}

.btn-reg {
border-radius:40px;
-moz-border-radius:40px;
-webkit-border-radius:40px;
border:2px solid #f4af00;
background-color:transparent;
-webkit-transition:color .8s ease-in-out;
-moz-transition:color .8s ease-in-out;
transition:color .8s ease-in-out;
color:#fff;
font-size:15px;
font-weight:350;
text-decoration:none;
background-color:#055163;
text-align:center;
padding:15px 30px;
}

.btn-reg:hover {
-webkit-transition:color .3s ease-in-out;
-moz-transition:color .3s ease-in-out;
transition:color .3s ease-in-out;
background-color:#fff;
color:#055163;
}

.logo {
opacity:.5;
-webkit-transition:opacity .3s ease-in-out;
-moz-transition:opacity .3s ease-in-out;
transition:opacity .3s ease-in-out;
}


.hardimage {
text-align:center;
}

.hardimage img {
display:inline-block;
width:45%;
height:auto;
margin-left:auto;
margin-right:auto;
}

a {
text-decoration:none;
color:#b9a96e;
}

a.email {
text-decoration:none;
color:#1bb99a;
}

a.hwinner {
text-decoration:none;
color:#ff9800;
}

a.sponsor {
text-decoration:none;
color:#369;
}

.container {
width:100%;
}

.container .frame {
width:100%;
padding-bottom:auto;
}

.container .frame .maroon-bkg {
background-color:#500000;
}

.container .frame .blue-bkg {
background-color:#055163;
}

.container .frame .tan-bkg {
background-color:#f4af00;
}

.container .frame .header-bkg {
height:50vh;
text-align:center;
}

.container .frame .header-bkg h1 {
width:100%;
text-align:center;
padding-top:18vh;
margin:0;
}

.container .frame .header-bkg h3 {
width:100%;
text-align:center;
}

.container .frame .sub-frame {
padding:80px 25%;
}

.container .full-height {
height:100vh;
}

.container .home-img-bkg {
height:100vh;
background-image:url(../../images/hackathon/bg.jpg);
background-size:cover;
-webkit-background-size:cover;
-moz-background-size:cover;
background-attachment:fixed;
background-repeat:no-repeat;
}

.container .contact-img-bkg {
background-image:url(../images/contact.jpg);
background-size:cover;
-webkit-background-size:cover;
-moz-background-size:cover;
background-attachment:fixed;
background-repeat:no-repeat;
margin:0;
padding:100px 0 0;
}

.container .contact-img-bkg .header-bkg {
height:auto!important;
margin-bottom:0!important;
}

.container .contact-img-bkg .header-bkg .btn {
margin-top:100px;
display:inline-block;
}

.container .contact-img-bkg .header-bkg img {
height:50px;
display:block;
margin:140px auto 0;
}

.logo:hover,.sidebar-frame .sidebar>a>img:hover {
opacity:1;
}

.footer{
	padding-bottom:50px;
}

.icon-fade{
opacity: 0.3;
}

.icon-fade:hover{
-webkit-transition:opacity .3s ease-in-out;
opacity: 1.0;
}

#sponsor-pic{
	width: 100%;
	position: relative;
}